[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_9_TRENT"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "B789_VIR_GVZIG" ; Variation name
model = "\..\..\HorizonSim_B787_9_TRENT\model" ; model folder
panel = "\..\..\HorizonSim_B787_9_TRENT\panel.RR" ; panel folder
sound = "\..\..\HorizonSim_B787_9_TRENT\sound" ; sound folder
texture = "B789_VIR" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Boeing" ; e.g. Boeing, Cessna
ui_type = "787-9 (RR) Dreamliner" ; e.g. 747-400, 172
ui_variation = "Virgin Atlantic G-VZIG" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Kuro_x, Asobo Studio" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43100 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8260 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 13 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 10800 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "G-VZIG" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "VIR" ; airline name
icao_airline = "VIR" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user
